{% extends 'gems/base.html' %}
{% block content %}
    <div class="grid">
        <div class="cell">
            <div class="card" style="max-width: 500px; margin-top: 32px">
                <header class="card-header">
                    <p class="card-header-title">{{ gem.name }}</p>
                    <button class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                    </button>
                </header>
                <div class="card-image">
                    <figure class="image">
                        <img 
                        class="is-rounded"
                        src="{{ gem.url }}""
                        alt="Placeholder image"
                        />
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        {{ gem.description }}
                        <br />
                    </div>
                </div>
                
                <footer class="card-footer">
                    <a href="{% url 'gems_update' gem.id%}" class="card-footer-item">Edit</a>
                    <a href="{% url 'gems_delete' gem.id%}" class="card-footer-item">Delete</a>
                </footer>
            </div>
        </div>
        <div class="cell">
            <div class="card">
                <div class="card-content">
                    <ul>
                    {% if jewels.count %}
                        {% for jewel in jewels.all %}
                    
                        <li>The jewel's name is: {{ jewel.name }} and {{ jewel.description }}</li>
                        <li><img src="{{jewel.url}}" width="200px"/></li>

                        {% endfor %}
                        {% else %}
                        <span></span>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div>
             <!-- Form to add jewelry -->
            <div class="field">
                <form action="{% url 'add_jewelry' gem.id %}" method="POST">
                    {% csrf_token %}
                    {{ jewelry_form.as_p }}
                    <input type="submit" class="button" value="add jewelry">
                </form>
            </div>
        </div>
    </div>

    <!-- Toys -->
    <div class="card medium-size">
        <h3>{{ gem.name }}'s Toys</h3>
        {% if gem.toys.count %}
          {% for toy in gem.toys.all %}
            <div class="card">
              <div class="card-content">
                <span class="card-title">
                  A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
                </span>
              </div>
              <div class="card-action">
                <form action="{% url 'assoc_delete' gem.id toy.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn red">Remove</button>
                </form>
              </div>        
            </div>
          {% endfor %}
        {% else %}
          <h5>No Toys 😿</h5>
        {% endif %}
      </div>
      <!-- Available toys will come after this line -->
        
            
                <h3>Available Toys</h3>
                {% if toys.count %}
                {% for toy in toys.all %}
                    <div class="card medium-size">
                    <div class="card-content">
                        <span class="card-title">
                        A <span style="color: {{ toy.color }}">{{ toy.color }}</span> {{ toy.name }}
                        </span>
                    </div>
                    <div class="card-action">
                        <form action="{% url 'assoc_toy' gem.id toy.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Add</button>
                        </form>
                    </div>
                    </div>
                {% endfor %}
                {% else %}
                <h5>{{gem.name}} Already Has All Toys Available</h5>
                {% endif %}
           
    </div>
            

{% endblock %}